@import "bootstrap/dist/css/bootstrap.css";
@import 'swiper/swiper-bundle.css';

* {
  font-family: Gilroy;
  font-weight: 300;
}

/* Turn-off vertical scrolling under header block */
html {
  overflow: hidden;
}

body {
  margin: 10px;
  position: fixed;
  background: #ECEDED;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}

