$bg-text: blue;

/* Common */
$white: #ffffff;
$border: #CCCCCC;

/* Alert */
$border-color: #B2D6C5;
$bg-success: #D5E6DE;

/* Menu-item */
$background-item: #E9F2FF;
$color-item: #227AFF;
$border-radius-item: 3px;
$box-shadow-item: 0px 0px 0px 1px #C3DAFF;
